* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(IMG.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(179,0,0,0.9);
  position : fixed;
  top: 0;
  z-index: 10;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.menu-wrapper {
  padding: 70px;
  text-align: center;
}

.menu-item {
  float: left;
  width: 33%;
  position: relative;
}

.menu-item img {
  width: 300px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.menu-label {
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 20px;
  color: black;
  font-family: system-ui;
  text-size: 30px;
  background-color: rgba(255,255,255,0.7);
  display: block;
}

.message-wrapper {
  margin-top: 100px;
  text-align: center;
  background-color: #f7f7f7;
}

.message-wrapper h2 {
  text-size: 15px;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

.message-wrapper p {
  text-size: 13px;
  font-weight: normal;
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

.instagram {
  background-color: rgba(179,0,0,0.8);
  margin-right: 10px;
}

.facebook {
  background-color: rgba(0,0,179,0.8);
}

.btn {
  float: center;
  color: white;
  opacity: 0.8;
  display: inline-block;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa-brands {
  margin-right: 10px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  width: 100%;
  height: 65px;
  background-color: rgb(179,0,0);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .menu-item {
    width: 33%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .menu-item {
    width: 100%;
  }

  .message-wrapper .btn {
    width: 100%;
  }
}
